.mobile-navbar {
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    border: none;
    border-width: 0;
    background-color: #4aaaa5;
}

.mobile-h1 {
    background-color: #4aaaa5;
    color: #ffffff;
    padding-bottom: 12px;
    padding-top: 12px;
}

.mobile-nav {
    border: none;
}

.header {
    padding: 0;
}

.nav {
    background-color: #ffffff;
    border-color: #dddddd;
    border-style: inset;
    border-width: 1px;
    padding: 13px;
    border-left: none;
    border-top: none;
    height: 71px;

}

.navbar-main {
    background-color: #ffffff;
    border-color: #dddddd;
    border-style: inset;
    border-width: 1px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    height: 71px;
    border-right: none;
    border-top: none;

}


body {
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    color: #777777;
    background-image:url(../images/stardust-img.png);
}

.mobile {
    background-color: #4aaaa5;
    color: #ffffff;
}

h1, .h1 {
    font-family: "Georgia", Times, "Times New Roman", serif;
}

h1 {
    margin-left: 20px;
    margin-top: 15px;
}

.h1-mobile {
    margin-top: 15px;
    text-align: center;
    font-family: "Georgia", Times, "Times New Roman", serif;
}

.large {
    padding-top: 12px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    height: 71px;
    background-color: #4aaaa5;
    color: #ffffff;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 73px;
}

p {
    line-height: 2;
    margin-left: 15px;
}

a {
    color: #777777;
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    border-right: 1px solid #777777;
    margin-top: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.nav-link {
    padding-top: 0px;
    padding-bottom: 0px;
}

.no-border {
    border: none;
    margin-right: 73px;
}

.container {
    background-color: #ffffff;
    border-color: #dddddd;
    border-style: inset;
    border-width: 1px;
    
}

.img-fluid {
display: block;
  margin: 0 auto 15px;
  
}

.main-mobile {
    margin: 40px auto 120px;
}

.main { 
    width: 680px;
    margin: 40px auto 120px 75px; 
}

.empty {
    background-image:url(../images/stardust-img.png)
}

.profile-pic {
    float: left;
    margin-left: 15px;
    margin-right: 20px;
}

.about-me {
    width: 640px;
}

.t-mobile {
    margin-left: 60px;
}

.t-large {
    margin-left: 60px;
}

.button {
    margin-bottom: 20px;
    background-color: #4aaaa5;
}


.footer {
    background-color: #666666;
    text-align: center;
    border-top: 8px solid #4aaaa5;
    padding-top: 24px;
}
    
.copyright {
    color: #777777;
    margin-bottom: 0 auto;
    font-size: .75em;
}
